@font-face {
    font-family: Poppins-Light ;
    src: url(Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(Poppins-Medium.ttf);
}

*{
    margin-left: 0px;
    margin-bottom: 100px;
    margin-top: 0px;
}
body{
    background-color:#383836;
    display: flex;
    
}
#navbar{
    width: 2000px;
    height: 100px;
     background-color: #5bc703;
    margin-top: 0px;
 
 }

#logo{
    height: 90px;
    width: 90px;
    margin-top: 50px;
    margin-left: 20px;

}
#uploader-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(249, 250, 253);
    margin-left: -1950px;
    margin-top: 20px;
    font-size: 50px;
    padding-left: 0px;
   
    
}
.file-uploader{
    height: 550px;
    width: 800px;
    margin-top: 30%;
    margin-left: 15%;
    background-color:#5bc703;
    border-radius: 30px;
    padding: 2px;
    border: 4px dashed white;
}

.file-instruction{
    color: rgb(232, 241, 241);
    margin-left: 50px;
    font-family: "Poppins-Light";
    font-size: 15px;
    font-weight: lighter;
    margin-top: 100px;
    
}
.file-upload-box{
    height: 200px;
    width: 300px;
   margin-left: 230px;
   margin-top: 100px;
   margin-right: 500px;
    background-color:#5bc703;
    border: 2px dashed rgb(209, 209, 209);
    border-radius: 30px;
    padding: 20px;
}
.uploadsec{
    margin-left: 100px;
    margin-top: 30%;
}
#uploadbtn{
    font-size: 25px;
    min-width: max-content;
    padding: 5px 30px 5px 30px ;
    margin-left: -30px;
    margin-top: 100px;
    background-color:#294F6A;
    border-radius: 20px;
    color: white;
    border-color:#294F6A ;
    cursor: pointer;
}


#fileInput{
    padding: 5px 30px 5px 30px ;
    font-size: 17px;
    margin-left: -70px;
    margin-top: 30px;
    color: white;
    
    
}
#i2{
    margin-top: 500px;
 padding-right: 50px;
   margin-left: 200px;
   color: blueviolet;
}
#i3{
    margin-top: 600px;
 padding-right: 50px;
   margin-left: 300px;
   color: blueviolet;
}
#boxmain{
    margin-left: 400px;
    font-size: 50px;
    margin-top: 100px;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 3px 3px 4px rgb(73, 50, 73);
}



#pdnd{
    color: #475c5a;
    margin-left: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#footer{
    margin-top: 500px;

}
#myDropzone{

    background-color: #294F6A;
    border: #294F6A;
    color: white;
    font-size: 20px;
    font-family: Poppins-Light;
}

.info1{
    height: 50px;
    width: 700px;
    background-color: #ffffff;
    margin-top: -100px;
    margin-bottom: 100px;
    padding-bottom: 20px;
    margin-left: -600px;
    border-radius: 25px;
    text-align: center;
    justify-content: center;  /* Aligns horizontally */
  align-items: center;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: none;
    color: #437718;
    padding: 10px 10px 10px 10px;
    
}
.info1v{
    height: 50px;
    width: 700px;
    background-color: #ffffff;
    margin-top: -100px;
    margin-bottom: 100px;
    padding-bottom: 20px;
    margin-left: -600px;
    border-radius: 25px;
    text-align: center;
    justify-content: center;  /* Aligns horizontally */
  align-items: center;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    border: 3px dashed #5bc703;
    text-align: left;
    padding: 10px 10px 10px 10px;
    color: #437718;
}
.info2{
    height: 50px;
    width: 700px;
    background-color: #ffffff;
    margin-top: -100px;
    margin-left: 150px;
    border-radius: 25px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
  justify-content: center;  
  align-items: center;  
  display: none;  
  color:#437718;
  padding: 10px 10px 10px 10px;
   
}
.info2v{
    height: 50px;
    width: 700px;
    background-color: #ffffff;
    margin-top: -180px;
    margin-left: 150px;
    border-radius: 25px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
  justify-content: center;  
  align-items: center;    
  display: block;  
   border: 3px dashed #5bc703;
    text-align: left;
    padding: 10px 10px 10px 10px;
    color: #437718;
   
}
#footer{
    height: 100px;
    background-color: #5bc703;
    margin-top: 20%;
    text-align: center;
    color: rgb(252, 250, 247);
    padding: 40px 40px 40px 40px;
}
 